.int, .drop {
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.dropdown-picker {
    display: inline-block;
    height: 72px;
    width: 80px;
    overflow: hidden;
    position: absolute;
    top: 45px;
    left: -30px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    z-index: 2;
}
.dropdown-picker-large {
    left: -30px;
    height: 120px;
    width: 80px;
    display: flex;
    flex-flow: column wrap-reverse;
}
.dropdown-container {
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    width: 30px;
    cursor: pointer;
    min-height: 30px;
    margin: 0 8px 5px 7px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 5px;
}
.rule-component {
    font-size: 22px;
}

.drop {
    width: 20px;
    height: 20px;
    /* margin: 10px; */
    border-radius: 100%;
    border: 5px solid #3a3a30;
}

.int-picker .selected, .sample-picker .selected, .target-picker .selected {
    /* color: yellow; */
    /* transform: scale(2, 2) translate(0px,-1px); */
    background-image: url('../assets/slected-cross.svg');
    background-size: 40px 40px;
}

.color-picker-value{
    display: inline-block;
    position: relative;
    margin: 1px 5px;
}
.cross{
    display: none;
    width: 40px;
    height: 40px;
}
.cross.selected{
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

.color-picker{
    width: 27px;
    cursor: pointer;
    padding: 0 10px;
    display: inline-block;
    transition: .2s ease-in;
}

.color-picker-display .color-picker-shadow{
    top: 10px;
    left: 10px;
}
.color-picker-shadow {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: linear-gradient(
        to top right, 
        #d7f0a200,
        #d7f0a200 50%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0.2) 100%
    );
    position: absolute;
    top: 5px;
    left: 5px;
    pointer-events: none;
}

.color-picker-display {
    display: flex;
    align-content: center;
}