.int, .drop {
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.drop {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 100%;
    border: 5px solid #3a3a30;
}

.int-picker .selected, .drop .selected, .sample-picker .selected {
    /* color: yellow; */
    /* transform: scale(2, 2) translate(0px,-1px); */
    background-image: url('../assets/slected-cross.svg');
    background-size: 40px 40px;
}

.color-picker-value{
    display: inline-block;
    position: relative;
}
.cross{
    display: none;
    width: 40px;
    height: 40px;
}
.cross.selected{
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
}

.color-picker{
    width: 27px;
    cursor: pointer;
    padding: 0 10px;
    display: inline-block;
    transition: .2s ease-in;
}

.color-picker-shadow {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-image: linear-gradient(
        to top right, 
        #d7f0a200,
        #d7f0a200 50%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0.2) 100%
    );
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
}