/*rule editor --------------------------------------*/
.rule-editor {
    height: 643px;
    width: 355px;
    padding: 0;
    margin: 10px 0 0 0;
    border-radius: 0 4px 4px 0;
    user-select: none;
    position: relative;
    background-color: #95e87e;
    position: relative;
    left: -9px;
    z-index: 1;
    box-shadow: inset 27px 0px 0px 0px rgba(51,51,51,0.3);
  }
  .rule-editor .rule {
    display: block;
    padding: 4px 20px;
    display: flex;
    flex-direction: column;
  }

.rule {
    /* display: block; */
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-items: flex-start; */
}

.rule-component {
  width: auto;
    /* display: inline-block; */
    /* padding: 30px 55px; */
}

.rule-component:after { 
  content:"";
  display: block;
  background: #333333; 
  width: 44px; 
  height:4px; 
  border-radius: 2px;
  margin: 30px auto;
}

.color, .shape, .direction, .sound{
    cursor: pointer;
}
  
.rule .editor-label{
    display: inline-block;
    vertical-align: middle;
    margin-top: -20px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
}
  
.rule-button-container {
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 60px;
}
.rule-button-container button{
  height: 44px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 8px 0 8px 8px;
}

.new-rule-button {
    border: none;
    border-radius: 4px;
    color: #444;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    background: rgba(255, 255, 255, .2);
    font-size: 10px;
    width: 44px;
    height: 44px;
  }
  .new-rule-button:hover {
    color: #222;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .new-rule-button.hidden{
    display: none;
  }
  .new-rule-button:focus {
    outline: none;
    border: 2px solid #ff00ff;
  }
  
  .direction-arrow-wrapper {
    display: flex;
    flex-direction: row;
  }

  .direction-arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .direction-arrow img{
    padding: 16px 7px;
  }


  .direction-arrow.selected {
    background-image: url('../assets/slected-cross.svg');
    background-size: 40px 40px;
    background-repeat: no-repeat;
  }
  
  .int-picker{
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
    margin-top: 28px;
    line-height: 45px;
    max-width: 240px;
  }
  
  .sample-picker{
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
    margin-top: -20px;
    line-height: 45px;
    padding: 0 6px;
  }

  .drum{
    width: 33px;
    cursor: pointer;
    padding: 0 10px;
  }
  .drum .drum-marker{
    transition: all 100ms ease-in;
  }
  .st0{
    fill:none;
    stroke:#4E77AA;
    stroke-width:2;
    stroke-miterlimit:10;
  }
  .st1{
    fill:none;
    stroke:#4E77AA;
    stroke-miterlimit:10;
  }
  .drum-marker{fill: #4E77AA;}
  
  .hidden{
    display: none;
  }
