.toolbox{
    margin-top: 0;
    list-style: none;
    border: 1px solid #CCC;
    padding: 8px 8px;
}

.toolbox li button{
    border: none;
    padding: 10px 0;
    display: block;
    width: 100%;
    cursor: pointer;
    user-select: none;
    background: #fff;
}

.toolbox li button:focus {
    outline: none;
  }

.toolbox li button:hover{
    background-color: #ffff00;
}
.toolbox li button.selected{
    background-color: #00ffff;
}