.toolbox{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 70px;
    background: #fff;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    width: 375px;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.toolbox li{
    margin: 5px 0 0 0;
}

.toolbox li button{
    font-size: 9px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 0;
    /* display: block; */
    width: 100%;
    cursor: pointer;
    user-select: none;
    width: 50px;
    height: 59px;
    background: #fff;
}

.toolbox li button:focus {
    outline: none;
  }

.toolbox li button:hover{
    background-color: rgba(5, 5, 5, 0.05);
}
.toolbox li button.selected{
    /* background-color: #00ffff; */
    border-color: #e6007e;
    cursor: default;
}
.toolbox li button.selected:hover{
    background: none;
}