body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  font: 400 11px system-ui;
  margin: 0;
}

/* top level layout --------------------------------------*/
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.game {
  display: flex;
  flex-direction: row;
  position: relative;
  max-height: 340px;
}

.level-editor{
  width: 160px;
}

.rule-editor {
  border: 1px solid #CCC;
  padding: 0;
  /* border-radius: 4px; */
  user-select: none;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
}
.rule-editor .rule {
  display: block;
  padding: 4px 20px;
  border-bottom: 1px solid #ccc;
}

.level{
  width: 340px;
  margin: 1px 20px 0 30px;
}
.grid{
  padding-bottom: 20px;
  flex: row;
}

/*game board --------------------------------------*/
.square {
  background: #fff;
  border: 1px solid #CCC;
  display: inline-block;
  float: left;
  padding: 0;
  margin: -1px -1px 0 0;
  text-align: center;
  width: 35px;
  height: 35px;
}

.square.selected{
  border: 4px solid #ff00ff;
}

.square:focus {
  outline: none;
}

/* .square:focus {
  background: #EEE;
} */

/*level editor -------------------------------------*/
.editor-button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 6px 4px;
  margin: 4px 0;
}
.editor-button.selected {
  background-color: #ff00ff;
  color: #ffffff;
}

.layout-edit-toggle{
  display: block;
  padding: 10px 4px;
}

.switch{
  margin-left: 8px;
}

/*rule editor --------------------------------------*/
.color, .shape, .direction, .sound{
  cursor: pointer;
}

.rule .editor-label{
  display: inline-block;
  vertical-align: middle;
  margin-top: -20px;
}

.rule-button-container {
  width: 100%;
  height: 102px;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-rule-button {
  padding: 10px 40px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
}
.new-rule-button:hover {
  border: 1px solid #ffff00;
  color: #222;
  background-color: #ffff00;
}

.new-rule-button.hidden{
  display: none;
}
.new-rule-button:focus {
  outline: none;
  border: 2px solid #ff00ff;
}

/* .square:focus {
  background: #EEE;
} */

.shape-select {
  fill: transparent;
  stroke: #4E77AA;
  stroke-width: 4px;
  width: 33px;
  cursor: pointer;
  padding: 0 10px;
  height: 33px;
  animation:spin 30s linear infinite;
}

.shape-select path{
  transition: all 300ms ease-in;
}

.color-picker{
  width: 27px;
  cursor: pointer;
  padding: 0 10px;
  display: inline-block;
  transition: .2s ease-in;
  animation: pulse 1s ease-in-out infinite;
  animation-direction: alternate;
}

.direction-arrow{
  height: 33px;
  width: 33px;
  fill: transparent;
  stroke: #4E77AA;
  stroke-width: 2px;
  cursor: pointer;
  margin-top: 4px;
  transition: .2s ease-in;
}

.direction-arrow-wrapper{
  display: inline-block;
  padding: 10px;
  /* animation: wiggle 4s ease-in-out infinite;
  animation-direction: alternate; */
}

.drum{
  width: 33px;
  cursor: pointer;
  padding: 0 10px;
}
.drum .drum-marker{
  transition: all 100ms ease-in;
}
.st0{
  fill:none;
  stroke:#4E77AA;
  stroke-width:2;
  stroke-miterlimit:10;
}
.st1{
  fill:none;
  stroke:#4E77AA;
  stroke-miterlimit:10;
}
.drum-marker{fill: #4E77AA;}

/* @keyframes wiggle { 50% { transform: rotate(1deg); } 100% { transform: rotate(-1deg); } } */

@keyframes pulse {
  100% { transform: scale(0.98, 1.04) translate(0px,2px); }
}

@keyframes spin {
  100% {
       -webkit-transform: rotate(-360deg);
       transform:rotate(-360deg);
   }
}
