@font-face {
  font-family: "Routed Gothic";
  src: url("/fonts/routed-gothic.ttf") format("ttf");
}

body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  font: 400 11px system-ui;
  margin: 0;
  background-color: #333333;
  font-family: "Routed Gothic";
}

button{
  font-family: "Routed Gothic";
}

/* top level layout --------------------------------------*/
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game {
  display: flex;
  flex-direction: row;
  position: relative;
}

.level{
  border-radius: 4px;
  width: 375px;
  height: 667px;
  background-color: #20d5f2;
  position: relative;
  z-index: 10;
}

.grid{
  position: absolute;
  top: 60px;
  z-index: 2;
  margin: 42px 42px;
}
.level .output-player canvas{
  pointer-events: none;
  position: relative;
  z-index: 3;
}
.level .output-player .toolbar{
  height: 60px;
}
.toolbar button{
  height: 44px;
  background-color: rgba(5, 5, 5, 0.2);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 8px 0 8px 8px;
}
.level .output-player canvas{
  margin: 39px 43px;
}

/*game board --------------------------------------*/
.hex{
  stroke: #1aaac2;
  pointer-events: visible; 
  box-sizing: border-box;
}
.hex.gap{
  fill: #007a87;
  fill-opacity: 1;
  stroke: #007a87;
  stroke-width: 1px;
}
.emitter, .router, .goal{
  pointer-events: none;
}
.hex.selected{
  /* stroke: #ffffff; */
  stroke-width: 10px;
}
.hex.gap.selected{
  stroke: #ffffff;
  stroke-width: 1px;
}

.square * {
  pointer-events: none;
}
.square .ghostElement {
  color: #ccc;
} 
.square:hover {
  border: 2px solid #aaa;
}

.square.selected{
  border: 4px solid #00ffff;
  transition: all 100ms ease-in;
}

.square:focus {
  outline: none;
}


/* .square:focus {
  background: #EEE;
} */

/*level editor -------------------------------------*/
.editor-button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 6px 4px;
  margin: 4px 0;
}
/* .editor-button.selected {
  background-color: #ff00ff;
  color: #ffffff;
} */

.layout-edit-toggle{
  display: block;
  padding: 10px 4px;
}

.switch{
  margin-left: 8px;
}

.hotkey-hint {
  border-bottom: 1px solid #72096d;
}

.level-list, .instrument-list{
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 0 10px;
  height: 25px;
}

.level-list:hover, .instrument-list:hover{
  background-color: #ffff00;
}

.instrument-list.selected{
  border: 2px solid #ffff00;
}