body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  font: 400 11px system-ui;
  margin: 0;
}

/* top level layout --------------------------------------*/
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.game {
  display: flex;
  flex-direction: row;
  position: relative;
  max-height: 340px;
}

.level-editor{
  width: 160px;
  position: relative;
}

.level{
  position: relative;
  margin: 1px 20px 0 20px;
}
.level canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.rule-editor {
  padding: 0;
  /* border-radius: 4px; */
  user-select: none;
  max-height: 100%;
  min-width: 315px;
  position: relative;
}
.rule-editor .rule {
  display: block;
  padding: 4px 20px;
  border-bottom: 1px solid #ccc;
}

.grid{
  position: relative;
  z-index: 2;
  flex: row;
}

/*game board --------------------------------------*/
.square {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-block;
  float: left;
  padding: 0;
  margin: -1px -1px 0 0;
  text-align: center;
  width: 35px;
  height: 35px;
}

.hex{
  stroke: #dddddd;
  fill:#fff;
  fill-opacity:0;
  box-sizing: border-box;
}
.emitter, .router, .goal{
  pointer-events: none;
}
.hex.selected{
  stroke: #ff00ff;
}

.square * {
  pointer-events: none;
}
.square .ghostElement {
  color: #ccc;
} 
.square:hover {
  border: 2px solid #aaa;
}

.square.selected{
  border: 4px solid #00ffff;
  transition: all 100ms ease-in;
}

.square:focus {
  outline: none;
}


/* .square:focus {
  background: #EEE;
} */

/*level editor -------------------------------------*/
.editor-button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 6px 4px;
  margin: 4px 0;
}
/* .editor-button.selected {
  background-color: #ff00ff;
  color: #ffffff;
} */

.layout-edit-toggle{
  display: block;
  padding: 10px 4px;
}

.switch{
  margin-left: 8px;
}